[submodule "sheep-bars"]
	path = sheep-bars
	url = https://github.com/sheepmolestor/sheep-bars
[submodule "sheep-towers"]
	path = sheep-towers
	url = https://github.com/sheepmolestor/sheep-towers
[submodule "sheep-subreddits"]
	path = sheep-subreddits
	url = https://github.com/sheepmolestor/sheep-subreddits
[submodule "sheep-battle"]
	path = sheep-battle
	url = https://github.com/sheepmolestor/sheep-battle
